*, *:before, *:after {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    margin: 42px 0 47px 0;
    display: flex;
    justify-content: space-between;

    &-nav {
        display: flex;

        &__item {
            list-style: none;
            margin-right: 60px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__link {
            text-decoration: none;
            color: #000;
            font-family: "Averta Demo PE Cutted Demo", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }

    &-brand {
        font-family: "Averta Demo PE Cutted Demo", sans-serif;
        font-weight: 400;
        text-decoration: none;
        color: #000;
        font-size: 27px;
        line-height: 33px;

        & span {
            font-family: "Proxima Nova", sans-serif;
            font-weight: 700;
        }
    }
}

.row {
    display: flex;
}

.col {
    flex-basis: 50%;

    &--first-screen {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.first-screen {
    position: relative;
    height: 615px;

    &__bg {
        position: relative;

        &-img {
            position: relative;
            z-index: 1;
        }
    }

    &__ellipse {
        position: absolute;
        top: 0;
        left: -63px;
    }

    &__rectangle {
        position: absolute;
        bottom: -96px;
        right: 120px;
    }

    &__content {
        max-width: 471px;
        position: relative;
    }

    &__dots {
        position: absolute;
        bottom: -121px;
        left: -53px;
        z-index: 1;
    }

    &__title {
        font-family: "Averta Demo PE Cutted Demo", sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        margin-top: 124px;
        margin-bottom: 40px;
        position: relative;
        z-index: 2;
    }

    &__subtitle {
        font-family: "Averta Demo PE Cutted Demo", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 33px;
        color: #565656;
        position: relative;
        z-index: 2;
    }

    &__btn {
        position: relative;
        z-index: 2;
        background: #2639ED;
        border: none;
        color: #fff;
        border-radius: 60px;
        font-family: "Averta Demo PE Cutted Demo", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        padding: 20px 40px;
    }
}