<div class="first-screen">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="first-screen__title">A Digital Product Agency</p>
                <p class="first-screen__subtitle">Leading digital agency with solid design and development expertise. We build readymade websites, mobile applications, and elaborate online business services.</p>
                <button class="contact-btn">Contact Now</button>
            </div>
            <div class="col--first-screen">

                <div class="first-screen__bg">
                    <img src="assets/images/first-screen-bg.png" alt="" class="first-screen__bg-img">
                    <img src="assets/images/first-screen-ellipse.svg" alt="" class="first-screen__ellipse">
                    <img src="assets/images/first-screen-rectangle.svg" alt="" class="first-screen__rectangle">
                </div>
            </div>
        </div>
    </div>
</div>